/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/*page------------------------------------------------------*/
.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;

    background-image: var(--bg-image);
    background-size: cover;
}

/*header------------------------------------------------------*/
.header {
    margin-inline: auto;
    margin-block-start: 102px;

    padding-block-start: 134px;

    max-inline-size: 696px;

    border: 2px solid var(--main-color);

    background-color: var(--bg-color);

    color: var(--main-color);
    font-family: var(--accent-font), sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__title {
    font-size: 65px;
    text-transform: uppercase;
}

.header__subtitle {
    margin-block-start: 20px;

    font-size: 23px;
    text-transform: uppercase;
}

.header__theme-menu {
    display: flex;
    justify-content: center;
    margin-block-start: 23px;
    margin-block-end: 25px;
    padding-inline-start: 17px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.theme-menu__button {
    background-color: transparent;
    border: none;

    font-size: 14px;
    text-transform: uppercase;
    text-align: start;

    cursor: pointer;
    transition: opacity .3s ease;
}

.theme-menu__button:hover {
    opacity: 0.6;
}

.theme-menu__button:focus {
    outline: none;
}

.theme-menu__button:focus-visible {
    opacity: 0.6;
}

.theme-menu__button::after {
    content: '';
    display: block;
    inline-size: 100%;
    block-size: 2px;
    background-color: var(--main-color);
    scale: 0;

    transition: scale .3s ease;
    transform-origin: 0;
}

.theme-menu__button:focus-visible::after {
    scale: 1.0;
}

.theme-menu__button[disabled="true"] {
    opacity: 0.6;
}

.theme-menu__button[disabled="true"] {
    pointer-events: none;
}

.theme-menu__button[disabled="true"]::before {
    content: '';
    display: block;
    position: absolute;
    translate: -20px;

    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid var(--main-color);
    border-bottom: 6px solid transparent;
    opacity: 0.6;

    animation: arrow-animation .5s ease-in-out infinite;
}

/*animations-------------------------------------------------------------------------------------------------------------------------------------------*/
@keyframes arrow-animation {
    from {
        translate: -20px;
    }

    50% {
        translate: -16px;
    }

    to {
        translate: -20px;
    }
}